/* profile.css */
html {
  background-color:#f5f7f9;
}

body {
  background: none;
  color:black;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color: ##B404AE;
}

.navbar {
  background:#B404AE;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("/pattern.png");
  background-repeat: repeat-x;
}
.top-bar{
	background-color:#B404AE !important;
}